.card-img-top {
  height: 200px;
  padding: 20px;
  object-fit: cover;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.fixed-img-size {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.row-container {
  margin-bottom: 30px;
}

.container {
  margin-bottom: 20px;
}

#listing-form {
  padding: 10px;
  background-color: whitesmoke;
}

.circle-logo{
  border-radius: 50px;
}

.home-page{
  background-color: #424344;
  height: 100vh;
  color: #f6f7e8;
  font-family: 'Cinzel', serif;
}

.header-container{
  padding: 10px;
}