.card-img-top {
  height: 200px;
  padding: 20px;
  object-fit: cover;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.fixed-img-size {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.row-container {
  margin-bottom: 30px;
}

.container {
  margin-bottom: 20px;
}

#listing-form {
  padding: 10px;
  background-color: whitesmoke;
}