body {
  background-color: #424344;
}

.card-img-top {
  height: 200px;
  padding: 20px;
  object-fit: cover;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.fixed-img-size {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.row-container {
  margin-bottom: 30px;
}

.container {
  margin-bottom: 20px;
}

.coffee-page {
  background-color: #424344;
  height: 100%;
}

.equipment-page {
  background-color: #424344;
}

#listing-form {
  padding: 10px;
  background-color: #424344;
}

.circle-logo{
  border-radius: 50px;
}

.home-page{
  background-color: #424344;
  height: 100vh;
  color: #f6f7e8;
  font-family: 'Cinzel', serif;
}

.header-container{
  padding: 20px;
}

.welcome-paragraph{
  width: 60%;
}

.carousel-img {
  display: block;
  margin: 0 auto;
  height: 300px;
  object-fit: cover;
}

.h-100{
  background-color: #f6f7e8;
}

.delete-button {
  width: 10%;
}

.cart-page{
  padding: 30px;
}

.add-new-form-button {
  margin-top: 20px;
}